{{ define "main" }}
<div id="jumbotronBase" class="col-10 col-lg-8 position-relative border border-secondary shadow-lg h-70" style="z-index: 2; backdrop-filter: blur(15px); background: rgba(255,255,255,0.03);">
    <div id="jumbotronContent" class="w-100 h-100 position-relative">
        <div class="details-wrapper w-100 h-100 position-relative">
            <div class="text-center p-2 w-100 h-100 d-flex flex-column position-absolute top-0 start-0" style="z-index: 4; transition: opacity 0.5s ease-in-out; "> 
                <div class="my-2 p-2" style="border: 2px solid #ffff;">
                    <a href="/projects" class="text-light float-start bg-black bg-opacity-25 px-2 rounded-pill"><i class="fa-solid fa-angles-left"></i></a><b class="text-light">{{ .Title }}</b>
                </div>
                <div class="my-2 p-2 text-light h-100 text-start fs-7 fs-md-6 overflow-auto" style="background-color: rgba(0, 0, 0, 0.5);">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}