{{ define "main" }}
<div id="jumbotronBase" class="col-10 col-lg-8 position-relative border border-secondary shadow-lg h-70" style=" z-index: 2; backdrop-filter: blur(15px); background: rgba(255,255,255,0.03);">
    <div id="jumbotronContent" class="w-100 h-100 position-relative">
        <div class="details-wrapper w-100 h-100 position-relative">
            <div class="text-center py-2 w-100 h-100 d-flex flex-column position-absolute top-0 start-0 overflow-scroll" style="z-index: 4; transition: opacity 0.5s ease-in-out;"> 
                        <div class="m-0 text-white-50 p-1">
                            {{ .Content }}
                        </div>
                {{ range .Pages }}
                    <div class="my-2 p-0" >
                        <div class="m-0 bg-light bg-opacity-25 text-white-50 border-opacity-10" style="backdrop-filter: blur(10px);">
                            <div class="p-2 text-middle">{{ .Title }}</div>
                        </div>
                        <div class="row m-0 pt-1 justify-content-center">
                            {{ range .Pages }}
                            <a href="{{ .Permalink }}" class="col-12 col-md-4">
                                <div class="anim-card my-2 p-0 bg-light bg-opacity-25 text-white-50 border-opacity-10 rounded-pill" style=" --background: url('{{ .Params.background }}') ;">
                                    <div class="p-3 text-middle font-raleway-bold">{{ .Title }}</div>
                                </div>
                            </a>
                            {{end}}
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}