{{ define "main" }}
        <div class="details-wrapper w-100 h-100 position-relative">
            <div class="text-center p-4 w-100 h-100 d-flex flex-column position-absolute top-0 start-0 overflow-x-hidden overflow-y-auto" style="z-index: 4; transition: opacity 0.5s ease-in-out;"> 
                {{ range .Pages }}
                <a href="{{ .Permalink }}" class="alert-link" style="text-shadow: none;">
                <div class="note-list my-2 p-0 bg-light bg-opacity-25 rounded-3 border border-white text-white-50 border-opacity-10 filter-bg-blur">
                    <div class="row m-0">
                        <div class="fs-7 fs-md-6 col-3 col-lg-2 p-2">
                        {{ time.Format ":date_medium" .Date }} 
                        </div>
                        <div class="fs-7 fs-md-6 col-9 col-lg-10 p-2 text-start">
                        {{ .Title }}
                        </div>
                    </div>
                </div>
                </a>
                {{ end }}
            </div>
        </div>
{{ end }}