{{ define "main" }}
<div id="jumbotronBase" class="col-10 col-lg-8 position-relative border border-secondary shadow-lg h-70" style=" z-index: 2; backdrop-filter: blur(15px); background: rgba(255,255,255,0.03);">
    <div id="jumbotronContent" class="w-100 h-100 position-relative">
        <div class="details-wrapper w-100 h-100 position-relative">
            <div class="text-center p-4 w-100 h-100 d-flex flex-column position-absolute top-0 start-0" style="z-index: 4; transition: opacity 0.5s ease-in-out;"> 
                {{ range .Pages }}
                <a href="{{ .Permalink }}" class="alert-link" style="text-shadow: none;">
                <div class="my-2 p-0 bg-light bg-opacity-25 rounded-3 border border-white text-white-50 border-opacity-10" 
                     style="backdrop-filter: blur(10px);">
                    <div class="row m-0">
                        <div class="col-3 col-lg-2 p-2">
                        {{ time.Format ":date_medium" .Date }} 
                        </div>
                        <div class="col-9 col-lg-10 p-2 text-start">
                        {{ .Title }}
                        </div>
                    </div>
                </div>
                </a>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}