
a.cas-title
{
	color:#ffffff;
	&:hover
	{
		font-weight: bold;
	}
	&::after
	{
		content: "\f08e"; font-family: FontAwesome;
		margin-left: 20px;
	}
}

.hr-line {
width: 100%;
position: relative;
margin: 15px;
border-bottom: 1px solid;
}



#playReelBtn {
    filter: drop-shadow(0px 0px 0px #ffffff);
    transition: filter 0.3s ease;
	&:hover{
    filter: drop-shadow(0px 0px 4px #ffffff);
	}
}

.anim-card {
    transition: transform .15s ease-in-out ,background-size .6s ease-in-out;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),var(--background); 
    background-position: center;
    background-size: 100%;
    z-index: 8;
    .anim-card-content
    {
        backdrop-filter: blur(8px);
    }
	&:hover {
        background-size: 50vh;
        z-index: 20;
        transform: scale(1.1);
	}
}