
a.cas-title
{
	color:#ffffff;
	&:hover
	{
		font-weight: bold;
	}
	&::after
	{
		content: "\f08e"; font-family: FontAwesome;
		margin-left: 20px;
	}
}

.hr-line {
width: 100%;
position: relative;
margin: 15px;
border-bottom: 1px solid;
}



#playReelBtn {
    filter: drop-shadow(0px 0px 0px #ffffff);
    transition: filter 0.3s ease;
	&:hover{
    filter: drop-shadow(0px 0px 4px #ffffff);
	}
}

.anim-card {
    transition: transform .15s ease-in-out ,background-size .6s ease-in-out;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),var(--background); 
    background-position: center;
    background-size: 100%;
    z-index: 8;
    .anim-card-content
    {
        backdrop-filter: blur(8px);
    }
	&:hover {
        background-size: 50vh;
        z-index: 20;
        transform: scale(1.1);
	}
}



.h7 { font-size: 0.85rem; }
.h8 { font-size: 0.75rem; }
.h9 { font-size: 0.65rem; }
.h10 { font-size: 0.5rem; }

// custom responsive height
$height-values: (
	10: 10%,
	15: 15%,
	25: 25%,
	50: 50%,
	75: 75%,
	100: 100%
);

$grid-breakpoints: (
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);


@each $key, $value in $height-values {
	.h-#{$key} {
		height: $value !important;
	}
}

@each $breakpoint, $min-width in $grid-breakpoints {
	@media (min-width: #{$min-width}) {
		@each $key, $value in $height-values {
		.h-#{$breakpoint}-#{$key} {
			height: $value !important;
		}
		}
	}
} 

// custom resposnive writing mode
$writing-modes: (
	horizontal: horizontal-tb,
	vertical-rl: vertical-rl,
	vertical-lr: vertical-lr
);

@each $name, $value in $writing-modes {
	.wm-#{$name} {
		writing-mode: $value !important;
	}
}

@each $breakpoint, $min-width in $grid-breakpoints {
	@media (min-width: #{$min-width}) {
		@each $name, $value in $writing-modes {
		.wm-#{$breakpoint}-#{$name} {
			writing-mode: $value !important;
		}
		}
	}
}

