html
{
    scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

a {
	text-decoration: none;
	i{
    color: #ffffff;
	}
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

#TableOfContents   
{
    & a {
    color: inherit;
    &:hover
        {
            font-weight: 700;
        }
    }
}

.hr-line {
width: 100%;
position: relative;
margin: 15px;
border-bottom: 1px solid;
}



#playReelBtn {
    filter: drop-shadow(0px 0px 0px #ffffff);
    transition: filter 0.3s ease;
	&:hover{
    filter: drop-shadow(0px 0px 4px #ffffff);
	}
}

.anim-card {
    transition: transform .15s ease-in-out ,background-size .6s ease-in-out;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),var(--background); 
    background-position: center;
    background-size: 100%;
    z-index: 8;
    .anim-card-content
    {
        backdrop-filter: blur(8px);
    }
	&:hover {
        background-size: 50vh;
        z-index: 20;
        transform: scale(1.1);
	}
}

.modal-content 
{
	background-color: transparent;
	outline: none;
}
.modal
{
	img , canvas	
	{
		z-index: 1000;
		max-width: none;
		object-fit: contain; 
		width: 60vw; 
		max-height: 90vh;
		@media (max-width: 500px) 
		{
			width: 90vw !important;
		}
	}
}

.markup-img-wrap
{
	a:hover
	{
		background: rgba(0, 0, 0, 0);
	}
	.markup-img
	{
		width: 100%;
		object-fit: fill; 
		&:hover
		{
			outline: white solid 4px ;
			z-index: 500;
		}
	}
}