
a.cas-title
{
	color:#ffffff;
	&:hover
	{
		font-weight: bold;
	}
	&::after
	{
		content: "\f08e"; font-family: FontAwesome;
		margin-left: 20px;
	}
}

.hr-line {
width: 100%;
position: relative;
margin: 15px;
border-bottom: 1px solid;
}

.ForHire
{
    transition: border 0.2s ease;
    animation: borderFocus 0.6s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
    &:hover{
		animation: none;
        border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}


@keyframes borderFocus {
	from {border: 0px var(--bs-border-style) transparent !important;}
	to {border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;}
}

#playReelBtn {
	&::before
	{
		content: "";
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-left: 20px solid var(--bs-border-color);
		height: 0px;
	}
	&:focus, &:hover {
	animation: pulse 1s;
	box-shadow: 0 0 0 1em transparent;
	}
}

#ExitReelBtn {
	&:focus, &:hover {
	animation: pulse 1s;
	box-shadow: 0 0 0 1em transparent;
	}
}


@keyframes pulse {
0% { box-shadow: 0 0 0 0 var(--bs-border-color); }
}

.anim-card {
    transition: transform .15s ease-in-out ,background-size .6s ease-in-out;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),var(--background); 
    background-position: center;
    background-size: 100%;
    z-index: 8;
    .anim-card-content
    {
        backdrop-filter: blur(8px);
    }
	&:hover {
        background-size: 50vh;
        z-index: 20;
        transform: scale(1.1);
	}
}

.filter-
{
	&drop-shadow
	{
		filter:drop-shadow(0 0 10px rgba(0,0,0,0.8));
	}

	&bg
	{
		&-blur
		{
			backdrop-filter : blur(15px);
		}
	}
}