
a.cas-title
{
	color:#ffffff;
	&:hover
	{
		font-weight: bold;
	}
	&::after
	{
		content: "\f08e"; font-family: FontAwesome;
		margin-left: 20px;
	}
}

.hr-line {
width: 100%;
position: relative;
margin: 15px;
border-bottom: 1px solid;
}

.ForHire
{
    transition: border 0.2s ease;
    animation: borderFocus 0.6s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
    &:hover{
		animation: none;
        border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}


@keyframes borderFocus {
	from {border: 0px var(--bs-border-style) transparent !important;}
	to {border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;}
}

#playReelBtn {
    filter: drop-shadow(0px 0px 0px #ffffff);
	--bs-btn-padding-x:0;
	--bs-btn-padding-y:0;
    transition: filter 0.3s ease;
	&::after
	{
		content: "";
		background-image: url("/svg/play-btn.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		display: inline-block;
		filter: invert(1);
		width: 30px;
		height: 30px;

	}
	&:hover{
    filter: drop-shadow(0px 0px 4px #ffffff);
	}
}

.anim-card {
    transition: transform .15s ease-in-out ,background-size .6s ease-in-out;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),var(--background); 
    background-position: center;
    background-size: 100%;
    z-index: 8;
    .anim-card-content
    {
        backdrop-filter: blur(8px);
    }
	&:hover {
        background-size: 50vh;
        z-index: 20;
        transform: scale(1.1);
	}
}

.filter-
{
	&drop-shadow
	{
		filter:drop-shadow(0 0 10px rgba(0,0,0,0.8));
	}
}