@use "utils/variables" as v;

body {
  font-family: v.$fontParagraph;
  color: v.$white;
  background-color: v.$backgroundDark;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a, span {
  text-decoration: none;
  @include v.primary-color;
}

a:hover, a:active {
	background: v.$coloryellow;
  	color: v.$white;
}

pre code {
  font-family: v.$fontCode;
  font-size: 75%;
  display: block;
  background: v.$backgroundDarker;
  padding: 10px;
  overflow: auto;
}

code {
  font-family: v.$fontCode;
  font-size: 75%;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: v.$fontHeader;
  }
}

@-ms-viewport{
  width: device-width;
}

.iconplus {
	margin-bottom: 10px;
	div {
		margin: 0 4%;
		padding: 0;
		aspect-ratio: 1;
		box-shadow: inset 0px 0px v.$coloryellow, inset 0px 0px v.$coloryellow;
		transition-property: box-shadow;
		transition-duration: 0.1s;
		display: flex;
		align-items: flex-start;
		background-size: cover;
		user-select: none;
		.corner {
			display: none;
			user-select: none;
			font-size: 12px;
			background: v.$coloryellow;
			color: v.$backgroundDark;
			margin: 0;
			padding: 0 4%;
		}
	}
	.title, .with {
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		display: block;
	}
	.with {
		color: v.$coloryellow;
	}
	&, &:visited, &:hover, &:active, &:focus {
		text-decoration: none;
		background: none;
		color: v.$white;
	}
	&:hover, &:active {
		div {
			box-shadow: inset 4px 4px v.$coloryellow, inset -4px -4px v.$coloryellow;
			.corner { display: inline-block }
		}
	}
	@media print {
		.title, .with { color: #000 }
	}
}

.carousel-item > .pickgradient 
{
  mask-image: linear-gradient(to top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.65) 70%);
}

.carousel-item > span > a > p
{
	text-shadow: 2px 2px 4px #000000;
}

.notecategory {
	display: inline-block !important;
	margin: 0 !important;
	font-size: 80%;
	line-height: 80%;
	top: -1px;
	padding: 4px 8px;
	background-color: v.$coloryellow;
	color: v.$backgroundDark;
	border-radius: 10px;
}

.list-group-item 
{
  background-color:transparent;
  color: v.$darkerwhite;
  border-color: v.$darkerwhite;
}

.card:hover {
	background-color: adjust-hue($color: v.$coloryellow, $degrees: 5);
	text-shadow: 2px 2px 4px #000000;
	.list-group-item 
	{
		color: v.$white;
	}
	img
	{
		filter: brightness(50%);
	}
	.notecategory
	{
		background-color: v.$darkGrey;
		color:v.$darkerwhite;
	}
}

.alert-secondary:hover 
{
	background: adjust-hue($color: v.$coloryellow, $degrees: 5);
	color:v.$darkGrey;
}

.mainpage-item 
{
	img
	{
		filter: invert(0.7);
		&:visited, &:hover, &:active, &:focus {
			filter: invert(0);
		}
	}
	


}