@use "utils/variables" as v;

body {
  font-family: v.$fontParagraph;
  color: v.$white;
  background-color: v.$backgroundDark;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a, span {
  text-decoration: none;
  @include v.primary-color;
}

a:hover, a:active {
	background: v.$coloryellow;
  	color: v.$white;
}

pre code {
  font-family: v.$fontCode;
  font-size: 75%;
  display: block;
  background: v.$backgroundDarker;
  padding: 10px;
  overflow: auto;
}

code {
  font-family: v.$fontCode;
  font-size: 75%;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: v.$fontHeader;
  }
}

@-ms-viewport{
  width: device-width;
}

.iconplus {
	margin-bottom: 10px;
	div {
		margin: 0 4%;
		padding: 0;
		aspect-ratio: 1;
		box-shadow: inset 0px 0px v.$coloryellow, inset 0px 0px v.$coloryellow;
		transition-property: box-shadow;
		transition-duration: 0.1s;
		display: flex;
		align-items: flex-start;
		background-size: cover;
		user-select: none;
		.corner {
			display: none;
			user-select: none;
			font-size: 12px;
			background: v.$coloryellow;
			color: v.$backgroundDark;
			margin: 0;
			padding: 0 4%;
		}
	}
	.title, .with {
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		display: block;
	}
	.with {
		color: v.$coloryellow;
	}
	&, &:visited, &:hover, &:active, &:focus {
		text-decoration: none;
		background: none;
		color: v.$white;
	}
	&:hover, &:active {
		div {
			box-shadow: inset 4px 4px v.$coloryellow, inset -4px -4px v.$coloryellow;
			.corner { display: inline-block }
		}
	}
	@media print {
		.title, .with { color: #000 }
	}
}

.carousel-item > .pickgradient 
{
	position: relative;
	mask-image: linear-gradient(to top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,1) 70%);
}

.carousel-item > span > a > p
{
	text-shadow: 2px 2px 4px #000000;
}

.notecategory {
	display: inline-block !important;
	margin: 0 !important;
	font-size: 80%;
	line-height: 80%;
	top: -1px;
	padding: 4px 8px;
	background-color: v.$coloryellow;
	color: v.$backgroundDark;
	border-radius: 10px;
}

.list-group-item 
{
  background-color:transparent;
  color: v.$darkerwhite;
  border-color: v.$darkerwhite;
}



.alert-secondary:hover 
{
	background: adjust-hue($color: v.$coloryellow, $degrees: 5);
	color:v.$darkGrey;
}

.mainpage-item 
{
	img
	{
		filter: invert(0.7);
		&:visited, &:hover, &:active, &:focus {
			filter: invert(0);
		}
	}
}

.gal 
{
	position: relative;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    @media (max-width: 500px) 
    {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
	img 
    { 
        width: 100%; 
        object-fit: cover;
    }
    .corner 
    {
        display: none;
        user-select: none;
        font-size: 12px;
        margin: 0;
        padding: 0 4%;
		box-shadow: inset 4px 4px v.$coloryellow, inset -4px -4px v.$coloryellow;
		background-color: v.$coloryellow;
		color: v.$darkGrey;
		z-index: 1000;
	}
	.bottom 
    {
        display: none;
        user-select: none;
        font-size: 14px;
        margin: 0;
        padding: 0 4%;
		box-shadow: inset 4px 4px v.$coloryellow, inset -4px -4px v.$coloryellow;
		background-color: v.$coloryellow;
		color: v.$darkGrey;
		z-index: 510;
	}
	.gal-wrap
	{
		position: relative;
		&:hover 
		{
			img
			{
				transform: scale(1.1);
				outline: v.$coloryellow solid 4px ;
				z-index: 500;
			}
			.corner 
			{
				display: inline-block;
				position: absolute;
				top: 8px;
				left: 0px;
			}
			.bottom 
			{
				display: inline-block;
				position: absolute;
				bottom: 8px;
				right: 0px;
			}
		}
	}
}


.modal img {
	z-index: 1000;
	@media (max-width: 500px) 
	{
		width: 100% !important;
	}
}

.highlight-title
{
	letter-spacing: 3px;
}  

.svg-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1; /* Ensure it's behind the content */
	overflow: hidden;
}

.svg-background svg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.carousel-inner
{
	img
	{
		@media (max-width: 500px) 
		{
			max-height: 250px !important;
		}
	}
	
}

.text-justify  { text-align: justify !important; }