.AceLogo {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(/img/Personal/Logo.png);
    display: inline-block; // or inline-block to preserve spans behaviour
    width: 110px;
    height: 110px;
    filter: brightness(0) invert(1) drop-shadow(0px 0px 0px #ffffff);
    transition: filter 0.3s ease;
	
	&:hover {
    filter: brightness(1) invert(1) drop-shadow(0px 0px 4px #ffffff);
	}
}

.icon
{
    background-repeat: no-repeat;
    background-size: contain; /* Ensures the image fits within the dimensions */
    background-position: center;
    vertical-align: middle;
    display: inline-block; /* allows width/height to be set on an inline element */
    width: 40px;
    height: 40px;
    filter: invert(1);
}

.icon
{
    &-Adobe-AE 
    {
        @extend .icon;
        background-image: url('/svg/software/adobe-after-effects.svg');
        
    }
    &-Adobe-PR 
    {
        @extend .icon;
        background-image: url('/svg/software/adobe-premiere.svg');
    }
    &-Adobe-AI 
    {
        @extend .icon;
        background-image: url('/svg/software/adobe-illustrator.svg');
    }
    &-Adobe-SP
    {
        @extend .icon;
        background-image: url('/svg/software/adobe-substance-painter.svg');
    }
    &-Aseprite
    {
        @extend .icon;
        background-image: url('/svg/software/aseprite.svg');
    }
    &-Blender
    {
        @extend .icon;
        background-image: url('/svg/software/blender.svg');
    }
    &-CSP
    {
        @extend .icon;
        background-image: url('/svg/software/clip-studio-paint.svg');
    }
    &-Unity
    {
        @extend .icon;
        background-image: url('/svg/software/unity.svg');
    }
}