.Modal-Highlight {
    overflow: hidden;
	img , canvas	
	{
		z-index: 1000;
		max-width: none;
		object-fit: contain; 
	}
}

.modal-title
{
	a:not([href])
	{
		color: inherit;
		text-decoration: none;
		&:hover 
		{
			color: inherit;
			text-decoration: none;
		}
	}
}

/* Anchor overlay to the bottom of the modal body */
.description-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8)); /* Fade for readability */
    z-index: 1000;
}

.markup-img-wrap
{
	a:hover
	{
		background: rgba(0, 0, 0, 0);
	}
	.markup-img
	{
		width: 100%;
		object-fit: fill; 
		outline: rgba(255, 255, 255, 0) solid 0px ;
		transition: outline 0.3s ease-out;
		&:hover
		{
			outline: white solid 4px ;
			z-index: 500;
		}
	}
}