#globalNav {
    top: 0.5%;
    left: 0; 
    transition: opacity 0.5s ease-in-out; 
    z-index: 10;
    @media (min-width: 576px) {
    & {
        top: 1.5%;
    }
}
    @media (min-width: 768px) {
    & {
        top: 2%;
    }
}

}
.nav-hidden {
    opacity: 0 !important;
    pointer-events: none;
}

.navbar-nav .nav-link 
{
    font-size: 0.75rem;
    letter-spacing: 3px;
    color: rgba(255,255,255,0.5);
    transition: color 0.3s ease;
    &:hover 
    {
    color: #fff !important;
    }
}

.nav-item.nav-btn {
    border: var(--bs-border-width) var(--bs-border-style) transparent !important;
    border-radius: var(--bs-border-radius-pill) !important;
    backdrop-filter :blur(0px);
    transition: backdrop-filter 0.8s ease, border 0.8s ease;
    &.active {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    backdrop-filter : blur(15px);
    }
}

.home-nav > *
{
    border: var(--bs-border-width) var(--bs-border-style) transparent !important;
    backdrop-filter : blur(15px);
    background-color: #0000002a;
    transition: border 0.2s ease;
    &:hover{
        border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}

.ForHire
{
    border: var(--bs-border-width) var(--bs-border-style) transparent !important;
    transition: border 0.2s ease;
    &:hover{
        border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}