// base Fade In Transition
.opacity-0 
{ 
    opacity: 0; 
    pointer-events: none; 
}

#home-video.fade
{ 
    transition: opacity 0.5s ease-in-out; 
}

#home-hero.fade
{ 
    transition: opacity 0.5s ease-in-out; 
}

#jumbotronContent{
    transition: opacity 0.5s ease-in-out; 
}

/* Container for both backgrounds */
.bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #000;
}

/* Static Layer: Always shows the "last" background */
.bg-back {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

/* Animation Layer: Wipes the "new" background over the old one */
.bg-front {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    clip-path: inset(0 100% 0 0); /* Start hidden to the left */
    transition: clip-path 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.bg-front.reveal {
    clip-path: inset(0 0 0 0); /* Wipe to full view */
}

/* Details Animation */
.details-wrapper {
    transition: transform 0.6s ease, opacity 0.6s ease;
    opacity: 0;
    transform: translateY(20px);
    display: flex;
    flex-direction: column;
    &.active {
    opacity: 1;
    transform: translateY(0);
    }
    &.exit {
        opacity: 0;
        transform: translateY(40px);
    }
}

/* Jumbotron Squeeze (Only for First Entry) */
#jumbotronBase {
    transform: scaleY(0);
    opacity: 0;
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s ease, height 0.5s ease, width 0.5s ease;
    &.h-70 {
    height: 70vh;
        &.page 
        {
            --jumbo-page-height : 60vh;
            @media (min-width: 576px) {
                & {
                    --jumbo-page-height : 70vh;
                }
            }
            @media (min-width: 768px) {
                & {
                    --jumbo-page-height : 90vh;
                }
            }
            height: var(--jumbo-page-height);
            width: calc(var(--jumbo-page-height) * (210 / 297)); /* calc(100vh * 0.7071) */
        }
    }

    &.visible {
    transform: scaleY(1);
    opacity: 1;
    }
}