@use "utils/variables" as v;

.card {
  
  @media (max-width: 990px) 
  {
    div
    {
      backdrop-filter: blur(3px);
    }
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),var(--background); 
    background-position: center;
  }

	&:hover 
  {
    background-color: adjust-hue($color: v.$coloryellow, $degrees: 5);
    background-image: none;
    text-shadow: 2px 2px 4px #000000;
      .list-group-item 
      {
        color: v.$white;
      }
      img
      {
        filter: brightness(50%);
      }
      .notecategory
      {
        background-color: v.$darkGrey;
        color:v.$darkerwhite;
      }
	}

}
