<!doctype html>
<html lang="{{ .Lang }}">

<head>
    <link rel="canonical" href="{{ .Permalink }}">
<title>{{ block "title" . }}
    {{ .Site.Title }}
    {{ end }}</title>
    
    {{ partial "head.html" . }}

</head>
<body class ="d-flex flex-column h-100">
    <iframe
    src="/bg-anim/"
    id="animated-bg"
    frameborder="0"
    scrolling="no"
    ></iframe>
    <div class="container" style="max-width:740px">
    {{ if not (.Eq (site.GetPage "home")) }}
        {{ partial "header.html" . }}
    {{ end }}
        {{ block "main" . }}
        {{ end }}
    {{ partial "footer.html" . }}
    </div>
        <!-- Bootstrap and Popper -->
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"
        integrity="sha512-pax4MlgXjHEPfCwcJLQhigY7+N8rt6bVvWLFyUMuxShv170X53TRzGPmPkZmGBhk+jikR8WBM4yl7A9WMHHqvg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        ></script>
        <!-- img lazy load lozad -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lozad.js/1.16.0/lozad.min.js"></script>
        <script>lozad().observe();</script>
        
        <!-- img fallback -->
        <script>
            $(document).ready(function() 
            {
                $("img").attr("onerror", 'this.onerror = null; this.src="/img/error.svg"');
            });
        </script>

        {{ $CanvasScript := "/js/canvas-watermark.js" | urlize | relURL }}
        <script  type="text/javascript"  src="{{ $CanvasScript }}"></script>
    </body>
</html>