<!doctype html>
<html lang="{{ .Lang }}"> 
    <head>
        <link rel="canonical" href="{{ .Permalink }}">
        <title>{{ .Site.Title }}</title>
        {{ partial "head.html" . }}
    </head>
    <body class="{{ if .IsHome }}home{{ end }}">
        <main>
        <!--- Background -->
        {{ partial "backdrop.html" . }}
        <!--- Background End -->
        <!-- IMG Modal -->
        {{ partial "ImgModal.html" .}}
        <!-- IMG Modal End -->
        <!--- Content -->
        <div class="vh-100 w-100 position-relative overflow-hidden bg-black d-flex align-items-center justify-content-center">
            {{ partial "header_nav.html" . }}
            <div id="jumbotronBase" class="filter-bg-blur {{ if eq .Type "resume" }} page {{end }} h-70 col-10 col-lg-8 position-relative border border-secondary shadow-lg" style=" z-index: 2; background: rgba(255,255,255,0.03);">
                <div id="jumbotronContent" class="w-100 h-100 position-relative">
                    {{ block "main" . }}{{ end }}
                </div>
            </div>
        </div>
        <!--- Content End -->
        <!--- Addon Script -->
        {{ partial "addon_scripts.html" . }}
        <!--- Addon Script End -->
        </main>
    </body>
</html>
