{{ define "main" }}
<div id="jumbotronBase" class="col-10 col-lg-8 position-relative border border-secondary shadow-lg h-70" style="z-index: 2; backdrop-filter: blur(15px); background: rgba(255,255,255,0.03);">
    <div id="jumbotronContent" class="w-100 h-100 position-relative tab-content">
        <div class="details-wrapper w-100 h-100 position-relative">

            <ul class="nav nav-pills d-none" id="homeToggle" role="tablist">
                <li class="nav-item"><button class="nav-link active" id="show-hero-link" data-bs-toggle="pill" data-bs-target="#home-hero"></button></li>
                <li class="nav-item"><button class="nav-link" id="show-video-link" data-bs-toggle="pill" data-bs-target="#home-video"></button></li>
            </ul>

            <div class="tab-pane fade show active w-100 h-100 position-relative" id="home-hero" role="tabpanel">
                <!-- <img id="midgroundImg" src="/img/Background/BaseForeground.png" class="position-absolute top-30 top-md-50 start-50 translate-middle h-75 h-md-auto" style="z-index: 3; filter: drop-shadow(0 0 30px rgba(0,0,0,0.8)); transition: opacity 0.5s ease-in-out; pointer-events: none; max-height: 90vh;">
                -->
                <video  muted autoplay playsinline preload="auto" id ="midgroundImg"class="position-absolute top-30 top-md-50 start-50 translate-middle h-75 h-md-auto" style="z-index: 3; filter: drop-shadow(0 0 30px rgba(0,0,0,0.8)); transition: opacity 0.5s ease-in-out; pointer-events: none; max-height: 100vh;">
                    <source  type="video/webm" src="/vid/beetle.webm"> 
                </video>
                <div class="text-center px-4 mx-md-0  p-2 p-md-5 w-100 h-100 d-flex flex-column justify-content-center position-absolute top-0 start-0" style="z-index: 4;"> 
                    {{if .Site.Params.openforhire }}
                    <a href="/resume">
                        <div class=" justify-content-center d-flex align-items-center">
                            <h1 class="fs-5 fs-md-3 text-light text-uppercase"><span class="ForHire badge rounded-pill px-5 bg-black bg-opacity-10 fw-light" style="backdrop-filter: blur(15px);"> #OpenForHire </span></h1>
                        </div>
                    </a>
                    {{ end }}
                    <div class="justify-content-center d-flex align-items-center rounded-pill my-1 my-md-2 bg-black bg-opacity-10" style="backdrop-filter: blur(15px);">
                        <h1 class="fs-2 fs-md-h3 fs-lg-h1 text-light text-uppercase font-tourney-light align-self-center filter-drop-shadow" style="z-index: 2;">AIMAN</h1>
                        <span class="d-inline d-md-none align-self-center mx-2"><!-- Spacer --></span>
                        <span class="d-none d-md-inline AceLogo align-self-center"></span>
                        <h1 class="fs-2 fs-md-h3 fs-lg-h1 text-light text-uppercase font-tourney-light align-self-center filter-drop-shadow" style="z-index: 2;">ALZAFRY</h1>
                    </div>
                    <div class="justify-content-center d-flex align-items-center">
                        <h1 class="display-7 text-light text-uppercase font-tourney-bold"><span class="badge rounded-pill px-5 bg-black bg-opacity-10 filter-drop-shadow" style="backdrop-filter: blur(15px);"> 3D GENERALIST </span></h1>
                    </div>
                    <div class="mx-4 d-flex justify-content-center mb-4 mt-2">
                        {{ range sort .Site.Params.social "key"}}
                            <span class="mx-2 h1 rounded-circle filter-drop-shadow"><a href="{{ .url | safeURL }}" class="text-white"><i class="{{ .falogo }}"></i></a></span>
                        {{ end }}
                    </div>

                    <div class="row my-2 align-items-center justify-content-center"> 
                        <div class="col-5">
                            <div class="border-top border-light opacity-25"></div>
                        </div>
                        <div class="col-2">
                            <button id="playReelBtn" onclick="document.getElementById('show-video-link').click(); videoplay();" class="btn text-light btn-lg rounded-circle border-0 py-2"></button>
                        </div>
                        <div class="col-5">
                            <div class="border-top border-light opacity-25"></div>
                        </div>
                    </div>
                    <!--- Navigation Buttons -->
                    <div class="home-nav row justify-content-evenly h-25 h-lg-10 gap-2 gap-lg-3 m-0">
                        <a href="/about" class="col-lg-2 col-5 rounded-pill d-flex align-items-center justify-content-center">
                            <div class="btn border-0 p-0 h-100 d-flex align-items-center justify-content-center">
                                <span class="fs-6 fs-lg-5 fw-bold text-decoration-none text-white">ABOUT</span>
                            </div>
                        </a>

                        <a href="/animations" class="col-lg-2 col-5 rounded-pill d-flex align-items-center justify-content-center">
                            <div class="btn border-0 p-0 h-100 d-flex align-items-center justify-content-center">
                                <span class="fs-6 fs-lg-5 fw-bold text-decoration-none text-white">ANIMATIONS</span>
                            </div>
                        </a>

                        <a href="/projects" class="col-lg-2 col-5 rounded-pill d-flex align-items-center justify-content-center">
                            <div class="btn border-0 p-0 h-100 d-flex align-items-center justify-content-center">
                                <span class="fs-6 fs-lg-5 fw-bold text-decoration-none text-white">PROJECTS</span>
                            </div>
                        </a>

                        <a href="/notes" class="col-lg-2 col-5 rounded-pill d-flex align-items-center justify-content-center">
                            <div class="btn border-0 p-0 h-100 d-flex align-items-center justify-content-center">
                                <span class="fs-6 fs-lg-5 fw-bold text-decoration-none text-white">NOTES</span>
                            </div>
                        </a>
                    </div>
                    <!--- Navigation End -->
                </div>
            </div>
            <div class="tab-pane fade w-100 h-100 bg-black position-absolute top-0 start-0" id="home-video" role="tabpanel">
                <button onclick="document.getElementById('show-hero-link').click(); videoexit();" class="btn btn-lg  bg-black bg-opacity-50 rounded-start-pill position-absolute top-50 end-0" style="z-index: 10;">
                    <i class=" text-light fa-solid fa-right-from-bracket fa-flip-horizontal"></i>
                </button>
                <iframe id="reelVideo" class="w-100 h-100" src="https://www.youtube.com/embed/V6Mboe9_BHA?si=Jhrc2frr2SkHmIH3" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{{ end }}