{{ define "title"}}
Home | {{ .Site.Params.author.name }}
{{ end }}

{{ define "main" }}
<div class="container p-0 py-2 pt-5">
    <div class="row justify-content-center d-flex">
        <h1 class="col-12 d-flex d-column justify-content-center glitch-title">{{ .Site.Params.author.name }}</h1>
        <h5 class="col-12 d-flex justify-content-center">-- {{ .Site.Params.author.job }} --</h5>
    </div>
</div>

<script> 
function glitchText(text, maxSwaps) 
{ 
    const chars = text.split('');
    const indices = []; while (indices.length < maxSwaps) 
    { const randomIndex = Math.floor(Math.random() * chars.length);
        if (!indices.includes(randomIndex)) 
        { 
            indices.push(randomIndex); 
        } 
    } 
    indices.forEach(index => { chars[index] = chars[index] === chars[index].toUpperCase() ? chars[index].toLowerCase() : chars[index].toUpperCase(); });
    return chars.join(''); 
} 
function applyGlitch() 
{ 
    const titleElement = document.querySelector('.glitch-title'); 
    const originalText = titleElement.textContent; const maxSwaps = 3;
     // Limit the number of characters to swap 
    titleElement.textContent = glitchText(originalText, maxSwaps); setTimeout(() => 
    { 
        titleElement.textContent = originalText;
        setTimeout(applyGlitch, 10000); // Delay before starting to glitch again 
    }, 1000); // Return to normal after 5 seconds 
}
applyGlitch();
</script>

<div class="py-2">
    <a href="/resume" title="{{ .Name }}" >
        <div class="card">
            <div class="btn btn-secondary active">
                <strong>Open for hire!</strong> i'm always looking to work on cool stuff alongside other cool people.
            </div>
        </div>
    </a>
</div>


<div class=" ratio ratio-16x9 py-2">
<iframe
src="https://www.youtube.com/embed/V6Mboe9_BHA?si=Jhrc2frr2SkHmIH3&autoplay=1&mute=1&loop=1" 
title="A.Alz 3D Artist Showreel" frameborder="0" 
allow="autoplay;" 
referrerpolicy="strict-origin-when-cross-origin" 
allowfullscreen>
</iframe>
</div>

<div class="py-2">
{{ partial "list-highlightcarousel.html" . }}
</div>

<div class="fluid-container">
    <div class="row flex-row justify-content-center my-1">
        {{ range .Site.Menus.header }}
        <div class="col-12 col-sm-4 py-1">
            <a href="{{ .URL | absURL }}" title="{{ .Name }}" >
                <div class="btn btn-secondary mainpage-item d-flex flex-column">
                    <img src="{{ .Params.Img }}" class="card-img-top d-none d-sm-block py-2" alt="{{ .Name }}" style="object-fit:contain; max-height:100px; ">
                    <div class="pt-1">
                        <h5 class="card-title text-center">{{ .Name }}</h5>
                    </div>
                </div>
            </a>
        </div>
        {{ end }}
    </div>
</div>


{{ end }}

