{{ define "title"}}
{{ .Title }} | {{ .Site.Params.author.name }}
{{ end }}

{{ define "main" }}
        {{ range .Pages }}
        <a href="{{ .Permalink }}" class="alert-link">
        <div class="alert alert-info my-2 p-0">
            <div class="row m-0">
                <div class="card-header p-2 col-2">
                {{ time.Format ":date_medium" .Date }} 
                </div>
                <div class="col-10 p-2">
                {{ .Title }}
                </div>
            </div>
        </div>
        </a>
        {{ end }}
{{ end }}