{{ define "title"}}
{{ .Title }} | {{ .Site.Params.author.name }}
{{ end }}

{{ define "main" }}
    <section class="container">
        <div class="alert my-2 p-2" role="alert" style="border: 2px solid #ffff;">
            <b>{{ .Title }}</b>
            {{if (compare.Eq (replace .Parent "Page" "") "(/notes)") }}
            <br>
            {{ .PublishDate | time.Format ":date_medium" }}
            {{ end }}
        </div>
        <!-- Modal for Image Viewing -->
        <div class="modal fade" id="image-modal" tabindex="-1" role="dialog" style="overflow-x: auto;">
            <div class="modal-dialog modal-dialog-centered"> <!-- Removed modal-lg for responsive sizing -->
                <div class="modal-content">
                    <div class="modal-body text-center position-absolute top-50 start-50 translate-middle"> <!-- Center the image inside modal -->
                        
                    </div>
                </div>
            </div>
        </div>
        <article class="text-justify">
        {{ .Content  }}
        </article>
    </section>
{{ end }}