{{ define "main" }}
<div id="jumbotronBase" class="col-10 col-lg-8 position-relative border border-secondary shadow-lg h-70" style="z-index: 2; backdrop-filter: blur(15px); background: rgba(255,255,255,0.03);">
    <div id="jumbotronContent" class="w-100 h-100 position-relative">
        <div class="details-wrapper w-100 h-100 p-3 p-md-4" style="overflow-inline:auto">
            <div class="row h-100 justify-content-center g-3" > 
                
                <div class="col-12 col-lg-3 d-flex flex-column h-auto h-md-100">
                    <div class="rounded-2 mb-3 p-3 text-center flex-grow-0 bg-white bg-opacity-10" style="flex: 0 1 auto;">
                        <div class="row">
                            <div class="col-4 col-md-12 p-1">
                            <img src="\img\Personal\Self.png" class="w-100 h-auto rounded-3 mb-0 mb-md-3" style="max-height: 260px; object-fit: cover; object-position: top;">
                            </div>
                            <div class="col-8 col-md-12 text-center p-1 d-flex flex-column justify-content-center">
                                <h4 class="fw-bold mb-1 text-light"> Aiman Alzafry </h4>
                                <h5 class="fw-light small text-light"> 3D Generalist </h5>
                                <a href="/resume" ><span class="btn btn-sm btn-outline-light rounded-pill px-4"><i class="fas fa-file-download me-2"></i>Resume</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="rounded-2 mb-3 p-2 bg-white bg-opacity-10 flex-grow-1">
                        <p class="m-1 fs-2 fs-md-1 justify-content-evenly d-flex">
                        {{ range sort .Site.Params.social "key"}}
                            <span class="mx-1"><a href="{{ .url | safeURL }}" title="{{ .name }}"><i class="{{ .falogo }}"></i></a></span>
                        {{ end }}
                        </p>
                    </div>
                </div>

                <div class="col-12 col-lg-9 d-flex flex-column h-100">

                    <div class="rounded-2 mb-3 fs-7 fs-md-6 p-3 p-md-4 text-light text-justify font-raleway flex-grow-1 shadow-sm bg-white bg-opacity-10" style=" overflow-y: clip; scrollbar-width: thin;">
                        {{ .Content }}
                    </div>
                    <div class="mb-3">
                        <h6 class="text-uppercase ls-wide text-light text-bold mb-3">Skills</h6>
                        <div class="d-flex flex-wrap gap-2 bg-white bg-opacity-10 p-2 py-3 rounded-2">
                            {{ range .Params.skills}}
                            <span class="badge p-2 px-3 rounded-3 text-light bg-opacity-10 bg-white fw-bold fs-7 fs-md-6 align-self-center">{{.title }}</span>
                            {{end }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <h6 class="text-uppercase ls-wide mb-3 text-light text-bold" >Software</h6>
                        <div class="d-flex flex-wrap gap-2 bg-white bg-opacity-10 p-2 py-3 rounded-2">
                            {{ range .Params.software}}
                            <span class="badge m-0 rounded-3 text-light bg-opacity-10 bg-white fw-bold  fs-7 fs-md-6 align-self-center"><span class="mx-1 {{ .icon }}"></span> {{.title }} </span>
                            {{end }} 
                        </div>
                    </div>
                </div> 
            </div> 
        </div>
    </div>
</div>
{{ end }}