<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<!-- Canvas Watermark JS -->
{{ $CanvasScript := resources.Get "js/canvas-watermark.js"}}
<script  src="{{ $CanvasScript.Permalink }}" defer></script>
<!-- Custom JS -->
{{ $script := resources.Get "js/PageTransition.js" | js.Build }}
<script src="{{ $script.Permalink }}" defer></script>

<!-- img lazy load lozad -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lozad.js/1.16.0/lozad.min.js"></script>
<script>lozad().observe();</script>
<!-- img fallback -->
<script>
    $(document).ready(function() 
    {
        $("img").attr("onerror", 'this.onerror = null; this.src="/svg/error.svg"');
    });
</script>