

{{ $isAbout := or (eq .Section "about") (eq .Path "/about") }}
{{ $isAnimations := or (eq .Section "animations") (eq .Path "animations") }}
{{ $isProjects := or (eq .Section "projects") (eq .Path "projects") }}
{{ $isNotes := or (eq .Section "notes") (eq .Path "notes") }}
<nav id="globalNav" class="navbar navbar-expand navbar-dark position-absolute w-100 opacity-0">
    <div class="container-fluid d-inline-block">
        <div class="collapse navbar-collapse justify-content-center">
                            <li class="nav-item px-2 d-md-none d-block">
                    <a href="/" class="navbar-brand m-0">
                        <span class="AceLogo align-self-center"></span>
                    </a>
                </li>
            <ul class="navbar-nav align-items-center gap-sm-0 gap-3 flex-wrap">
                <li class="nav-item nav-btn py-0 py-md-1 px-2 {{ if $isAbout }}active{{ end }}"><a class="nav-link fw-bold" href="/about">ABOUT</a></li>
                <li class="nav-item nav-btn py-0 py-md-1 px-2 {{ if $isAnimations }}active{{ end }}"><a class="nav-link fw-bold" href="/animations">ANIMATIONS</a></li>
                <li class="nav-item px-2 d-none d-md-block">
                    <a href="/" class="navbar-brand m-0">
                        <span class="AceLogo align-self-center"></span>
                    </a>
                </li>
                <li class="nav-item nav-btn py-0 py-md-1 px-2 {{ if $isProjects }}active{{ end }}"><a class="nav-link fw-bold " href="/projects">PROJECTS</a></li>
                <li class="nav-item nav-btn py-0 py-md-1 px-2 {{ if $isNotes }}active{{ end }}"><a class="nav-link fw-bold " href="/notes">NOTES</a></li>
            </ul>
        </div>
    </div>
</nav>