<header class="header p-1 mt-4 showHeaderOnTop">
    <div class="container">
        <a href="/"><strong>AceAlz</strong></a>
        
        <!-- Start breadcrumb trail -->
        {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "/" }}
        {{ $path := "/" }}
        
        {{ range $index, $element := split $url "/" }}
            {{ if and (ne $element "") (lt $index 2) }} <!-- Limit to first section -->
                {{ $path = printf "%s%s/" $path $element }}
                <span> / </span>
                <a href="{{ $path }}">{{ $element | title }}</a>
            {{ end }}
        {{ end }}
    </div>
</header>