<section class="py-2">
    <div class="container p-0">
        <h2 class="row justify-content-center">{{ .Title }}</h2>
       
        <div class="row justify-content-center">
        {{ range .Pages }}
        <div class="col-md-6 d-flex mb-4">
            <div class="row g-0 border rounded overflow-hidden shadow-sm d-flex flex-fill">
            <a class="postListLink" href="{{ .Permalink }}">
                <div class="col-auto d-none d-lg-block">
                    <img class="card-img-top" src="{{ .Params.image }}" alt="{{ .Title }}" loading="lazy" style="object-fit: cover; max-height: 190px;">
                </div>
                <div class="card-body p-2">
                    <h5 class="card-title">
                        <b class="text-uppercase">{{ .Title }}</b>
                        <br>
                        <h6>{{ if .Params.ProdTeam}}
                            {{.Params.ProdTeam}}
                        {{ end }}
                        </h6>
                    </h5>
                    <p class="card-text">{{ .Summary | truncate 100 }}</p>
                </div>
            </a>
            </div>
        </div>
        {{ end }}
        </div>
    </div>
</section>

