<section class="py-2">
    <div class="container p-0">
        <h2 class="row justify-content-center">{{ .Title }}</h2>
        <div class="row row-cols-1 row-cols-md-2 py-1 g-2">
            {{ range .Pages }}
            <div class="col">
                {{ $Permalink := .Permalink }}
                {{ $disableLink := false }}
                
                {{ if .Params.tags }}
                    {{ range .Params.tags }}
                        {{ if eq . "Coming Soon" }}
                            {{ $disableLink = true }}
                        {{ end }}
                    {{ end }}
                {{ end }}
                <a class="postListLink" href="{{ if $disableLink }}#{{ else }}{{ $Permalink }}{{ end }}">
                    <div class="card border rounded overflow-hidden shadow-sm h-100" style="--background: url('{{ .Params.image }}')">
                        <img class="card-img-top d-none d-lg-block lozad" data-src="{{ .Params.image }}" alt="{{ .Title }}" loading="lazy" style="object-fit: cover; max-height: 190px;">
                        <div class="card-body p-2" >
                            <h5 class="card-title">
                                <b class="text-uppercase">{{ .Title }}</b>
                            </h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item py-0">
                                    <h6>{{ if .Params.ProdTeam}}{{.Params.ProdTeam}}{{ end }}&nbsp;</h6>
                                </li>
                                <li class="list-group-item fw-light">
                                    {{ .Summary | truncate 100 }}
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer d-flex flex-row-reverse">
                                {{ range .Params.tags }}
                                <span class="notecategory">{{ . }}</span>&nbsp;
                                {{ end }}
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>

