<section class="py-2">
    <div class="container p-0">
        <h2 class="row justify-content-center">{{ .Title }}</h2>

        <div class="row justify-content-center">
            {{ range .Pages }}
            {{if eq .Kind "page" }}
                <div class="col-md-4 justify-content-center">
                    <a class="postListLink" href="{{ .Permalink }}">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ .Params.image }}'); background-position: center;background-size: cover;">
                        <div class="col p-3 d-flex flex-column position-static">
                            <h3 class="mb-0">{{ .Title }}</h3>
                            <p class="card-text mb-auto">{{ .Summary | truncate 100 }}</p>
                        </div>
                    </div>
                    </a>
                </div>
            {{ end }}
            {{ end }}
            {{ range .Sections }}
            {{ if not .Params.hidden }}
            <h3 class="row justify-content-center">{{ .Title }}</h3>
                {{ range .Pages }}
                {{ if not .Params.hidden }}
                    <div class="col-md-4 justify-content-center">
                        <a class="postListLink" href="{{ .Permalink }}">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ .Params.image }}'); background-position: center;background-size: cover;">
                            <div class="col p-3 d-flex flex-column position-static">
                                <h5 class="mb-0">{{ .Title }}</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                {{ end }}
                {{ end }}
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
