{{ if isset .Site.Params "highlight" }}
<div id="carouselExampleCaptions" class="carousel slide p-0" data-bs-ride="carousel">
    
    <!-- Carousel Indicators -->
    <div class="carousel-indicators">
        {{ range $index, $highlight := sort .Site.Params.highlight "key" }}
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ $index }}" {{ if eq $index 0 }}class="active"{{ end }} aria-label="Slide {{ add $index 1 }}"></button>
        {{ end }}
    </div>

    <!-- Carousel Inner -->
    <div class="carousel-inner">
        {{ range $index, $highlight := sort .Site.Params.highlight "key" }}
            {{ $post := site.GetPage .page }}
            {{ with $post }}
            <div class="carousel-item {{ if eq $index 0 }}active{{ end }}">
                <div class="pickgradient">
                    <img src="{{ .Params.image }}" style="object-fit: cover; object-position: center; max-height:400px;" width="600px" height="400px" class="d-block w-100 " alt="{{ .Title }}">
                </div>
                <span class="py-2 carousel-caption">
                    {{ $Permalink := .Permalink }}
                    {{ $disableLink := false }}
                    
                    {{ if .Params.tags }}
                        {{ range .Params.tags }}
                            {{ if eq . "Coming Soon" }}
                                {{ $disableLink = true }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                    <a class="postListLink" href="{{ if $disableLink }}#{{ else }}{{ $Permalink }}{{ end }}" style="text-shadow: 2px 2px 4px #000000;">
                        <small class="d-none d-md-block font-weight-light pb-1">
                            {{ if .Parent }}
                                {{ .Parent.Title }}
                            {{ else }}
                                {{ with site.GetPage .Section }}
                                    {{ .Title }}
                                {{ end }}
                            {{ end }}
                        </small>
                        <h4 class= "highlight-title text-uppercase font-weight-bold" >{{ .Title }}</h4>
                        <small class="d-none d-md-block">{{ .Summary | truncate 100 }}</small>
                    </a>
                </span>
            </div>
            {{ end }}
        {{ end }}
    </div>

    <!-- Carousel Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{{ end }}