{{ $id := .Get "id" }}
{{ $parent := .Get "parent" }}

<div class="accordion-item py-1">
    <h2 class="accordion-header" id="heading-{{ $id }}-{{ $parent }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ $id }}-{{ $parent }}" aria-expanded="false" aria-controls="collapse-{{ $id }}-{{ $parent }}">
            {{ .Get "title" }}
        </button>
    </h2>
    <div id="collapse-{{ $id }}-{{ $parent }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ $id }}-{{ $parent }}" data-bs-parent="#{{ $parent }}">
        <div class="accordion-body">
            {{ .Inner | markdownify }}
        </div>
    </div>
</div>