{{ $galleryName := .Get "name" }}
{{ $showName := .Get "showName" }}
{{ $showLike := .Get "showLike" }}

<div class="container">
    <div class="col-md-12">
        <div class="row">
            <!-- Gallery Section -->
            <div id="image" class="gal">
                {{ $gallery := index $.Page.Params $galleryName }}
                {{ if $gallery }}
                    {{ range $gallery }}
                    <a href="#" class="thumbnail">
                        <div class="d-flex gal-wrap py-2">
                        {{ if eq $showName "true" }}{{if .name }} <span class="bottom">{{ .name }}</span> {{ end }}{{ end }}
                        {{if eq $showLike "true" }}{{if .likes }} <span class="corner">♥ {{ .likes }}</span> {{ end }}{{ end }}
                        <img data-src="{{ .url }}" alt="{{ .name }}" class="lozad" loading="lazy">
                        </div>
                    </a>
                    {{ end }}
                {{ else }}
                    <p>No images available in the gallery.</p>
                {{ end }}
            </div>
        </div>
    </div>
</div>
